.parent{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    height: 100vh;
}

.box{
    width: 300px;
    height: 300px;
    background-color: black;
    margin: 15px;
    padding: 15px;
}
.box-inner{
    width: 100px;
    height: 100px;
    background-color: green;
}
p{
    background-color: blue;
    color: yellow;
    font-size: 100px;
}