.main__container{
    max-width: 1280px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.main__right h1{
    font-family: Inter;
font-weight: 900;
font-size: 52px;
line-height: 62px;
letter-spacing: 0%;

}

.main__right p{
    font-family: Inter;
font-weight: 500;
font-size: 20px;
line-height: 32px;
letter-spacing: 0%;

}

.btn{
    width: 312;
height: 64;
opacity: 1;
border-radius: 8px;
padding-top: 8px;
padding-right: 32px;
padding-bottom: 8px;
padding-left: 32px;
gap: 10px;
background: #F50E30;
border: none;
color:white;

}

.main__img{
    width: 716px;
height: 517px;
opacity: 1;

}

.upper__help h1{
    font-family: Inter;
font-weight: 800;
font-size: 44px;
line-height: 54px;
letter-spacing: 0%;
text-align: center;

}

.upper__help p{
    font-family: Inter;
font-weight: 400;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;
text-align: center;

}

.upper__help{
    text-align: center;
}