.container__upper{
    border: 1px solid black;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0px;
    margin: 0px;
}

.btn_upper{
    width: 240px;
    height: 90px;
    background: none;
    font-size: 20px;
    border-radius: 37px;
    background-color: cyan;
}

.main__container{
    max-width: 1050px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 58px;
    margin-bottom: 35px;
}

p{
    font-size: 20px;
    margin-bottom: 35px;
}

.main__btn-get{
    width: 185px;
    height: 52px;
    font-size: 14px;
    border-radius: 37px;
    background-color: aqua;
}

.main__btn-learn{
    width: 154px;
    height: 52px;
    font-size: 14px;
    border-radius: 37px;
    background: none;
}

a{
    color: black;
}

.btn__downer{
    width: 185px;
    height: 52px;
    font-size: 14px;
    border-radius: 7px;
    background-color: aqua;
}

input, select{
    margin-bottom: 10px;
    margin-top: 10px;
}