html,
body {
  background-color: red;
  display: flex;
}

.product-card {
  border: 10px solid black;
  background-color: gray;
  transition: 0.3 ease-in-out;
  border-radius: 15px;
  margin: 10px;
}

.product-card:hover {
  transform: scale(1.05);
  background-color: rgb(191, 191, 191);
}

.product-card:active {
  background-color: black;
  border: 10px solid gray;
  color: gray;
}
