.container{
    border: 1px solid black;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0px;
    margin: 0px;
}

button{
    width: 220px;
    height: 70px;
    background: none;
    font-size: 40px;
}

a{
    text-decoration: none;
    color: black;
}