.header__container{
    display: flex;
    justify-content: space-around;
}

.header__menu{
    display: flex;
    gap: 30px;
    list-style-type: none;
}

body{
    font-size: 24px;
}

button{
    width: 200px;
    height: 50px;
    margin-left: 30px;
}

.hidden{
    display: none;
    width: 30px;
    height: 30px;
    background-color: black;
}

.main__container{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0px auto;
}

.main__img{
    width: 400px;
    height: 300px;
}

@media (width < 1200px) {
    body{
        font-size: 18px;
    }

    .header__menu{
        gap: 5px
    }

    button{
        width: 150px;
    }
}



@media (width < 910px) {
    .header__menu{
        display: none;
        justify-content: center;
    }
    button{
        width: 110px;
        height: 30px;
    }

    .hidden{
      display: block;
    }
}

@media (width < 700px) {
    .main_left{
        display: contents;
    }

    .main__container{
        flex-direction: column;
        align-items: center;
    }
}