body{
    color:rgb(255, 0, 0);
    font-size: 100px;
    text-align: center;
    background-color: rgb(0, 0, 0);
}
p{
    color: rgb(255, 0, 0);
    font-size: 60px;
    text-align: start;
}
a{
    color: rgb(255, 0, 0);
    font-size: 80px;
    text-align: end;
}